body{
  font-family: arial;
  color:gray;
  width: 100%;
  margin-left:10px;
}
img {
  width: 70%;
}
.border{
  border: 3px solid;
  border-color: orange;
  padding:30px;
  margin-right: 300px;
  min-width: 200px;
}
fieldset{
  margin:20px;
  margin-right: 300px;
  min-width: 200px;
}
.center{
  text-align: center;

}
#background{
  background-image: url(image.jpg);
}
#link:visited{
  color:green;
}

@media screen and (max-width: 500px) {
  body {
    min-width: 200px;
    color:blue;
    text-align: center;
  }
}
